{% extends 'supply_info/base.html' %}

{% block content %}
<div class="container">
    {% if title %}
    <h3>{{ title }}</h3>
    {% else %}
    <h3>Dodaj wysyłkę</h3>
    {% endif %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
    </ul><br>
    {% endif %}
    <form method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}
    {{ form.errors }}
    <button type="submit" class="save btn btn-default">Zapisz</button>
    </form>
</div>
{% endblock %}