/* =====Global ====*/
* {
    font-family: Lato,sans-serif;
}

body {
    background-color: #fafafa;
}

.glyphicon-plus {
    color: #a3b8c4;
}

/* ============== */
#machines_list_table {
  border-collapse: collapse;
  width: 65%;
  color: black;
  overflow: auto;
}


#machines_list_table td, #machines_list_table th {
  border: 3px solid;
  border-color: white;
  padding: 8px;
}

#machines_list_table tr:nth-child(even){background-color: #f2f2f2;}

#machines_list_table tr:hover {background-color: #ddd;}

#machines_list_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e5ecf0;
  color: black;
}

#machine_shipment_table {
  border-collapse: collapse;
  width: 65%;
  color: black;
}


#machine_shipment_table td, #machine_shipment_table th {
  border: 3px solid;
  border-color: white;
  padding: 5px;
  text-align: center;
}
#machine_shipment_table a {

}

#machine_shipment_table tr:nth-child(even){background-color: #f2f2f2;}

#machine_shipment_table tr:hover {background-color: #ddd;}

#machine_shipment_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e5ecf0;
  color: black;
}

#Braktd {
    background-color: red;
    }
#Małotd {
    background-color: orange;
    }
#Dużotd {
    background-color: #1cb84b;
    }

h1, h2, h3, h4 {
    font-family: Lato,sans-serif;
}

.user_menu, .page-header {
    font-family: Lato,sans-serif;
}

.page-header {
    border: 0px;
    margin: 0px 15px;
}
head, body {
    margin: 0px;
}
/* ====== Paginator ====*/
.paginator-buttons {
    position:relative;
    width:65%;
    display: inline-block;
}
.paginator-buttons font {
    padding: 0 5px;
}



/* ===== Left nav bar =====*/

nav {
	font-size: 15px;
	text-transform: uppercase;
	float: left;
	position: relative;
	width: 250px;
    height: 100%;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li {
  /* Sub Menu */
}
nav ul li a {
	display: block;
	/*background: #ebebeb;*/
	padding: 10px 15px;
	color: #333;
	text-decoration: none;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}
nav ul li a:hover {
	background: #ddd;
	text-decoration: none;
	/*color: #515151;*/
}
nav ul li a .fa {
	width: 16px;
	text-align: center;
	margin-right: 5px;
	float:right;
}
nav ul ul {
	background-color:#e5ecf0;
}
nav ul li ul li a {
	/*background: #f8f8f8;*/
	border-left: 4px solid transparent;
	padding: 10px 20px;
}
nav ul li ul li a:hover {
	background: #ddd;
	border-left: 4px solid #e13e2f;
}

nav li {
    /* !!! first element has the individual style */
    border-bottom: 0.3px solid;
    border-color: #e7e7e7;
}

/* ==== upper menu ====*/

.upper-menu {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  padding-right:15px;
  overflow: hidden;
  /*border: 1px solid #e7e7e7;*/
  font-size: 16px;
  border: none;
}

.inside-upper-menu {
  float: right;
}

.inside-upper-menu a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}
.inside-upper-menu div {
  display: block;
  color: black;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}
.inside-upper-menu form {
  display: block;
  color: black;
  align: center;
  padding-top: 13px;
}

.inside-upper-menu a:hover:not(.active) {
  background-color: #ddd;
}

.inside-upper-menu a.active {
  color: white;
  background-color: #ddd;
}


input[type=button], input[type=submit], input[type=reset] {
  height:30px;
  background-color: white;
  border: none;
  color: black;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0px;
}

.inside-upper-menu button {
    font-size:16px;
    padding: 4px 12px;
    margin: 0px 0px 3px 0px;
}

.inside-upper-menu font {
    margin: 0 0 0 20px;
}

.search-input {
  box-sizing: border-box;
  /*border: 1px solid #555;*/
  outline: none;
  padding: 0px;
  margin: 0px;
}
.search-input:focus {
  background-color: #ddd;
}

.sub-menu i {
    margin: 0 11 0 0px;
    color: #e13e2f;
}
.inside-upper-menu i {
    margin: 0 5 0 0px;
    color: #e13e2f;
}

/* ==== forms styling ============ */
.container {
 width: 35%;
 float: left;
 position: relative;
 border-radius: 5px;
 background-color: #f2f2f2;
 padding: 20px;
 margin: 20px 40px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container input[type=text], input[type=number], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.container input[type=text]:focus {
    background-color: #ddd;
}

.container label {
  text-decoration: none;
  padding: 12px 12px 12px 0;
  display: inline-block;
}


.container input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container input[type=submit]:hover {
  background-color: #45a049;
}

/* ========= post styling =======*/
.post_list_title {
    color: #428bca;
    text-transform: uppercase;
}

.post-detail, .post_list{
 float: left;
 position: static;
 width: 65%;
 padding: 0 20px;
 margin: 0px 40px;
 font-family: Lato,sans-serif;
}

.post_preview_title {
    font-size: 26px;
}


.post-detail {
 float: left;
 position: static;
 width: 65%;
 padding: 20px;
 margin: 20px 40px;
 font-family: Lato,sans-serif;
}

.post-title {
    line-height: 1.4;
    color: #3e3e3e;
    padding: 5px 20 5 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px dashed #98afbd;
    border-top: 1px dashed #98afbd;
    background: #e5ecf0;
    outline: 0;
    font-size: 18px;
    font-weight: bold;
    }


.post-body {
    margin: 0 0 10 0;
    padding: 15 0px;
}


.post-img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  width: 40%;
  padding: 15 15 20 15px;
}

.post-img-left {
    float: left;
    overflow: auto;
    padding: 15 15 15 0px;
    max-width:300;
    max-height: auto;
    margin: 0 20 0 0;
    padding: 15 0px;
    }

.post-img-right {
    float: right;
    overflow: auto;
    padding: 15 0 15 15 px;
    max-width:300;
    max-height: auto;
    margin:  0 0 0 10;
    padding: 15 0px;
}

.post-date, .post_preview_footer  {
    font-size: 12px;
    padding: 5 5 5 0px;
    font-style: italic;
}

@media print {
  * {
    display: none;
  }
  #printableTable {
    display: block;
    border: 1px;
  }
}