/* =====Global ====*/
* {
    font-family: Lato,sans-serif;
}

body {
    background-color: #fafafa;
}

/* ============== */
#machines_list_table {
  border-collapse: collapse;
  width: 65%;
  color: black;
}


#machines_list_table td, #machines_list_table th {
  border: 3px solid;
  border-color: white;
  padding: 8px;
}

#machines_list_table tr:nth-child(even){background-color: #f2f2f2;}

#machines_list_table tr:hover {background-color: #ddd;}

#machines_list_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e5ecf0;
  color: black;
}

#Braktd {
    background-color: red;
    }
#Małotd {
    background-color: orange;
    }
#Dużotd {
    background-color: #34d614;
    }

h1, h2, h3, h4 {
    font-family: Lato,sans-serif;
}

.user_menu, .page-header {
    font-family: Lato,sans-serif;
}

head, body {
    margin: 0px 15px;;
}
/* ===== Left nav bar =====*/

nav {
	font-size: 15px;
	text-transform: uppercase;
	float: left;
	position: relative;
	width: 260px;
    height: 100%;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li {
  /* Sub Menu */
}
nav ul li a {
	display: block;
	/*background: #ebebeb;*/
	padding: 10px 15px;
	color: #333;
	text-decoration: none;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}
nav ul li a:hover {
	background: #ddd;
	text-decoration: none;
	/*color: #515151;*/
}
nav ul li a .fa {
	width: 16px;
	text-align: center;
	margin-right: 5px;
	float:right;
}
nav ul ul {
	background-color:#e5ecf0;
}
nav ul li ul li a {
	/*background: #f8f8f8;*/
	border-left: 4px solid transparent;
	padding: 10px 20px;
}
nav ul li ul li a:hover {
	background: #ddd;
	border-left: 4px solid #e13e2f;
}

nav li {
    /* !!! first element has the individual style */
    border-bottom: 0.3px solid;
    border-color: #e7e7e7;
}

/* ==== upper menu ====*/

.upper-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right:15px;
  overflow: hidden;
  /*border: 1px solid #e7e7e7;*/
  border-bottom: 1px solid #e7e7e7;
  font-size: 16px;
}

.inside-upper-menu {
  float: right;
}

.inside-upper-menu a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}
.inside-upper-menu div {
  display: block;
  color: black;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}
.inside-upper-menu form {
  display: block;
  color: black;
  align: center;
  padding-top: 13px;
}

.inside-upper-menu a:hover:not(.active) {
  background-color: #ddd;
}

.inside-upper-menu a.active {
  color: white;
  background-color: #ddd;
}


input[type=button], input[type=submit], input[type=reset] {
  height:30px;
  background-color: white;
  border: none;
  color: black;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0px;
}

.inside-upper-menu button {
    font-size:16px;
    padding: 4px 12px;
    margin: 0px 0px 3px 0px;
}

.search-input {
  box-sizing: border-box;
  /*border: 1px solid #555;*/
  outline: none;
  padding: 0px;
  margin: 0px;
}
.search-input:focus {
  background-color: #ddd;
}

/* ==== forms styling ============ */
.container {
 width: 35%;
 float: left;
 position: relative;
 border-radius: 5px;
 background-color: #f2f2f2;
 padding: 20px;
 margin: 20px 40px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container h3 {
    /*text-align: center;*/
}

.container input[type=text], input[type=number], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.container input[type=text]:focus {
    background-color: #ddd;
}

.container label {
  text-decoration: none;
  padding: 12px 12px 12px 0;
  display: inline-block;
}


.container input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container input[type=submit]:hover {
  background-color: #45a049;
}


