''
__pycache__/
.idea/
htmlcov/
logs/
migrations/
materialy/
public/
tmp/
venv/


*.xlsx
*.db
*.pdf
*.csv
*.bat
*.sqlite3

.coverage
app.db
config.py
products_info.py
supply_info/sp_modules/receiving_data.py
settings.py
passenger_wsgi.py

