''
__pycache__/
.idea/
htmlcov/
logs/
migrations/
materialy/
public/
tmp/
venv/


*.xlsx
*.db
*.pdf
*.csv
*.bat
*.sqlite3
*.zip

.coverage

app.db
data.json

config.py
settings.py
passenger_wsgi.py


