{% extends 'supply_info/base.html' %}
{% load info_channel_tags %}

{% block title %}{{ post.title }}{% endblock %}
    {% block content %}
    <div class="post-detail">
        <h1 class="post-title">{{ post.title }}</h1>
        <p class="post-date">
            Opublikowano: {{ post.publish }}. Ostatnia aktualizacja: {{ post.updated }}
        </p>
        {% for item in post.post_body_paragraph.all %}
        <div class=post-paragraph>
            {% if item.img_address %}
                <a href="{{ item.img_link }}">
                   <img src="{{ item.img_address }}" alt="{{ item.img_alt }}"  class="post-img-{{ item.img_position }}">
                </a>
            {% endif %}
            <div class="post-body">
                {{ item.body|markdown }}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}