{% extends 'supply_info/base.html' %}
{% load info_channel_tags %}
{% block title %}Nowa dostawa{% endblock %}
{% block content %}

<form class="post-form" method="post">
    {% csrf_token %}
    <div class="container">
        {{ formset.management_form }}
       <h2 style="text-align:center;">Nowe zamówienie</h2>
        <div class="row" style="margin: 0 0 0 25px;">
            <div class="col-md-10">{{ shipment_form.shipment_number }}</div>
        </div>
        <div class="row" style="margin: 0 0 0 25px;">
            <div class="col-md-10">{{ shipment_form.country_of_origin }}</div>
        </div>
        <div class="row" style="margin: 0 0 0 25px;">
            <div class="col-md-10">{{ shipment_form.shipment_status }}</div>
        </div>
        <div class="row" id="shipment_prod_qty" style="margin: 0 0 0 25px;">
            {% for form in formset %}
                {{ form.product.errors }}
                <div class="col-md-7">{{ form.product }}</div>
                {{ form.quantity.errors }}
                <div class="col-md-3">{{ form.quantity }}</div>
            {% endfor %}
        </div>
        <button type="submit" class="save btn btn-default" style="margin: 15 35px;">Zapisz</button>
    </div>
</form>

{% endblock %}

