{% extends 'supply_info/base.html' %}
{% load alerts_tags %}

{% block content %}
<div class="container" style="width: 65%">
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">produkt</th>
              <th scope="col">typ</th>
              <th scope="col">poziom</th>
              <th scope="col">ostatnia modyfikacja</th>
              <th scope="col">aktywny </th>
              <th scope="col"> </th>
              <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            {% for alert in alerts %}
                <tr>
                    <td scope="row">{{ alert.product.code }}</td>
                    <td>{{ alert.less_or_equal|less_or_equal_bool_to_text }}</td>
                    <td>{{ alert.qty_alert_lvl }} szt.</td>
                    <td>{{ alert.updated }}</td>
                    {% if alert.is_active %}
                        <td><i class="fas fa-check-circle" style="color: green; font-size: 1.3em; padding: 5 0 0 18"></i></td>
                        <form method="post">
                            {% csrf_token %}
                            <td><button type="submit" class="btn btn-default" name="disable" value="{{alert.id}}">Wyłącz</button></td>
                        </form>
                    {% else %}
                        <td><i class="fas fa-times-circle" style="color: #e13e2f; font-size: 1.3em; padding: 5 0 0 18"></i></td>
                        <form method="post">
                            {% csrf_token %}
                            <td><button type="submit" class="btn btn-default" name="enable" value="{{alert.id}}" style="padding: 6 16px;">Włącz</button></td>
                        </form>
                    {% endif %}
                    <td><a href="{% url 'supply_info:alert_edit_view' alert.id %}"><button type="button" class="btn btn-default">Edytuj</button></a></td>
                    <form method="post">
                        {% csrf_token %}
                        <td><button type="submit" class="btn btn-danger" name="delete" value="{{alert.id}}" style="padding: 6 14px;">Usuń</button></td>
                    </form>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}