{% extends 'supply_info/base.html' %}
{% load alerts_tags %}

{% block content %}

<div class="container">
    <form class="post-form" method="post">
        {% csrf_token %}
        <h2 style="text-align:center;">{{ h2 }}</h2>

        <div class="row" id="alert_option_row" style="margin: 0 0 0 25px;">
            <div class="col-md-7">{{ form.less_or_equal }}</div>
            <div class="col-md-3">{{ form.qty_alert_lvl }}</div>
        </div>
        <button type="submit" class="save btn btn-default" style="margin: 15 35px;">Zapisz</button>
    </form>
</div>


{% endblock %}