{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155235325-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-155235325-1');
        </script>
        <title>Stany magazynowe</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/supply_info.css' %}">
    </head>
    <body>
        <div class="page-header">
        <h1>Stany magazynowe JANOME i ELNA</h1>
        </div>
        <div>Ostatnia aktualizacja: {{ last_update_time.date }}</div>
        <br>
        {% if user.is_staff %}
        <div>
            Admin_menu:
            <a href="{% url 'admin:index' %}">Admin panel</a> |
            <a href="{% url 'supply_info:update_product_info' %}" >Zasil bazę</a> |
            <a href="{% url 'supply_info:update_product_availability' %}">Uaktualnij stany</a> |

        </div><br>
        {% endif %}
        {% if user.is_authenticated %}
        <div class ="user_menu">
            <p>Zalogowany jako: <b>{{ user.username }}</b>
                <a href="{% url 'supply_info:change_password' %}"><span title="Ustawienia" class="glyphicon glyphicon-cog"></span></a>
                <a href="{% url 'logout' %}"><span title="Wyloguj" class="glyphicon glyphicon-log-out"></span></a>
            </p>

            <p>Przegląd: <a href="{% url 'supply_info:machines_list' %}" >Lista maszyn</a></p>
            <p>Grupy produktów:
                <a href="{% url 'supply_info:products_list' sub_type='akcesoria_eti' %}" >ETI</a> |
                <a href="{% url 'supply_info:products_list' sub_type='hafciarka+program' %}" >Hafciarki z programami</a> |
                <a href="{% url 'supply_info:products_list' sub_type='igły' %}" >Igły</a> |
                <a href="{% url 'supply_info:products_list' sub_type='nici' %}" >Nici</a> |
                <a href="{% url 'supply_info:products_list' sub_type='nozyczki' %}" >Nożyczki</a> |
                <a href="{% url 'supply_info:products_list' sub_type='programy' %}" >Programy</a> |
                <a href="{% url 'supply_info:products_list' sub_type='zestawy_akcesoriow' %}" >Zestawy akcesoriów</a> |

            </p>
            <form action="{% url 'supply_info:search_product' %}" method="GET" value="{{request.GET.q}}">
            <input type="text" name="q" value="{{request.GET.q}}" placeholder="wpisz kod produktu"/>
            <input type="submit" name="submit" value="Szukaj"/>
            </form>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="pull-right glyphicon glyphicon-log-in" style="color:red"></span></a><br>
        </div><br>
        {% endif %}

        {% block content %}
        {% endblock %}
    </body>
</html>

<script>
    $("a[id^=show_]").click(function(event) {
    $("#extra_" + $(this).attr('id').substr(5)).slideToggle("slow");
    event.preventDefault();
});
</script>