{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155235325-1"></script>
        <script src="https://kit.fontawesome.com/5e054a9f6e.js" crossorigin="anonymous"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-155235325-1');
        </script>
        <title>Stany magazynowe</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/supply_info.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1>Stany magazynowe JANOME i ELNA</h1>
            <div>Ostatnia aktualizacja: {{ last_update_time.date }}</div>
        </div>
        <ul class="upper-menu navbar navbar-default navbar-static-top">
            {% if user.is_authenticated %}
            <li class="inside-upper-menu" style="float:left; padding-left:10px;">
                <form action="{% url 'supply_info:search_product' %}" method="GET" value="{{request.GET.q}}" class="search-input form-inline">
                <input type="text" name="q" value="{{request.GET.q}}" placeholder="wpisz kod produktu" class="search-input form-control">
                <button type="submit" name="submit" value="Szukaj" title="Szukaj" class="search-input btn btn-default glyphicon glyphicon-search"></button>
                {% if request.GET.q %}
                    <font>Wynik dla: <b>{{ request.GET.q }}</b></font>
                {% endif %}
                </form>

            </li>

            <li class="inside-upper-menu">
                <a href="{% url 'logout' %}" ><i title="Wyloguj" class="glyphicon glyphicon-log-out"></i>Wyloguj</a>
            </li>
            <li class="inside-upper-menu">
                <a href="{% url 'supply_info:change_password' %}"><i title="Ustawienia" class="glyphicon glyphicon-cog"></i>Konto</a>
            </li>
            <li class="inside-upper-menu">
                <div> Zalogowany jako: <b>{{ user.username }}</b></div>
            </li>
            {% else %}
            <li class="inside-upper-menu-anonymous">
                <a href="{% url 'login' %}" class="top-menu"><i class="pull-right glyphicon glyphicon-log-in" style="margin:17px; color:red;"></i></a>
            </li>

        {% endif %}
        </ul>
        <nav class='animated left-navbar'>
            <ul>
                {% if user.is_staff %}
                    {% include "supply_info/admin_menu.html" %}
                    {% include "shipments/shipment_menu.html" %}
                    {% include "serial_numbers/warehouse_menu.html" %}
                    {% include "warranty_parts/service_menu.html" %}
                    {% include "payments/payment_menu.html" %}
                {% endif %}
                {% if user.is_authenticated %}
                    {% include "supply_info/alerts_menu.html" %}
                    <!--{% include "info_channel/info_channel_menu.html" %} this app is temporary disabled -->
                    {% include "supply_info/filters_menu.html" %}
                {% endif %}
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>

<script>
    $("a[id^=show_]").click(function(event) {
    $("#extra_" + $(this).attr('id').substr(5)).slideToggle("slow");
    event.preventDefault();
    });
    $('.sub-menu ul').hide();
    $(".sub-menu a").click(function () {
        $(this).parent(".sub-menu").children("ul").slideToggle("100");
        $(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
    });
</script>