{% extends 'supply_info/base.html' %}

{% block content %}

<div class="machine_table" style="margin-top: 70px; width: 100%">
    <table id="machines_list_table">
        <tr>
            <th width="21%">Kod produktu</th>
            <th width="6%">Dostępność</th>
            {% if user.is_authenticated %}
                <th width="6%"> Stan </th>
            {% endif %}
            <th width="7%" >Cena <br>katalogowa</th>
            <th width="16%">Kolejna dostawa</th>
            <th>Uwagi</th>
            {% if user.is_authenticated %}
            <th width="3%"> </th>
            {% endif %}
        </tr>
        {% for machine in machines %}
        <tr>
            <form action="" method="post">
                {% if machine.site_address %}
                    <td><a href="{{ machine.site_address }}" style="color:black">{{ machine.code }}</a></td>
                {% else %}
                    <td>{{ machine.code }}</td>
                {% endif %}
                {% if machine.availability != None %}
                    <td id="{{ machine.availability_info }}td" align="center"> {{ machine.availability_info }}</td>
                    {% if user.is_authenticated %}
                        <td align="right"> {{ machine.availability }}</td>
                    {% endif %}
                {% else %}
                    <td> Test</td>
                {% if user.is_authenticated %}
                    <td> </td>
                {% endif %}
                {% endif %}
                <td align="right">{{ machine.price_d }}</td>

                {% if machine.next_shipment and machine.next_shipment > now %}
                    <td>{{machine.next_shipment }}</td>
                {% else %}
                    {% if machine.get_next_shipment and machine.get_next_shipment > now %}
                        <td>{{ machine.get_next_shipment }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endif %}
                <td>{{ machine.additional_info|default_if_none:""}}</td>
                {% if user.is_authenticated %}
                        <td><a href="{% url 'supply_info:alert_add_view' product_pk=machine.id  %}"><i class="far fa-bell" style="color:#e13e2f; font-size: 1.3em;"></i></a> </td>
                {% endif %}
                {# <td><input type="button" name="send_question" value="Zadaj pytanie"></td> #}
            </form>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

