{% extends 'supply_info/base.html' %}

{% block content %}

<div class="machine_table">
    <table border="1" id="machines_list_table">
        <tr>
            <th width="21%">Kod produktu</th>
            <th width="6%">Dostępność</th>
            {% if user.is_authenticated %}
                <th width="6%"> Stan </th>
            {% endif %}
            <th width="7%" >Cena <br>katalowa</th>
            <th width="16%">Kolejna dostawa</th>
            <th>Uwagi</th>
        </tr>
        {% for machine in machines %}
        <tbody id="machine_list_table_body">
        {% if machine.active_product_list.all %}
        {% for item in machine.active_product_list.all %}
        {% if item.is_active %}
        <tr>
            <form action="" method="post">
                {% if machine.site_address %}
                    <td><a href="{{ machine.site_address }}" style="color:black">{{ machine.code }}</a></td>
                {% else %}
                    <td>{{ machine.code }}</td>
                {% endif %}
                {% if machine.product_availability.all %}
                    {% for item in machine.product_availability.all %}
                        <td id="{{ item.availability_info }}td" align="center"> {{ item.availability_info }}</td>
                        {% if user.is_authenticated %}
                            <td align="right"> {{ item.availability }}</td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td> </td>
                    {% if user.is_authenticated %}
                        <td> </td>
                    {% endif %}
                {% endif %}
                {% for item in machine.price_lists.all %}
                    <td align="right">{{ item.price_d }}</td>
                {% endfor %}
                {% if machine.next_shipment > now %}
                <td>{{ machine.next_shipment }}</td>
                {% else %}
                    <td> </td>
                {% endif %}
                <td>{{ machine.additional_info|default_if_none:""}}</td>
                {# <td><input type="button" name="send_question" value="Zadaj pytanie"></td> #}
            </form>
        </tr>
        {% endif %}
        {% endfor %}
        {% endif %}
        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock %}
