{% extends 'supply_info/base.html' %}
{% load group_tags %}

{% block content %}
{% include "supply_info/pagination.html" with page=products %}
<div class="machine_table">
    <table id="machines_list_table">
        <tr>
            <th width=30%>Kod produktu</th>
            <th width=10%>Dostępność</th>
            <th width=11%>Cena katalogowa (brutto)</th>
            <th width=24%>Kolejna dostawa</th>
            <th>Uwagi</th>
            <th> </th>
        </tr>
        {% for product in products %}
        <tbody id="machines_search_table_body">
        <tr>
            <form action="" method="post">
                {% if product.site_address %}
                    <td><a href="{{ product.site_address }}" style="color:black" title="{{ product.name }}">{{ product.code }}</a></td>
                {% else %}
                    <td>{{ product.code }}</td>
                {% endif %}
                {% if product.availability != None and product.mark not in 'K, 2' %}
                <td> {{ product.availability }}</td>
                {% else %}
                    <td> </td>
                {% endif %}
                {% if product.price_d != None %}
                <td>{{ product.price_d }} zł</td>
                {% else %}
                    <td> </td>
                {% endif %}
                <td>{{ product.next_shipment|default_if_none:"" }}</td>
                <td>{{ product.additional_info|default_if_none:"" }}</td>
                <td width="1%">
                    <a href="#" id="show_{{ forloop.counter }}" ><span class="glyphicon glyphicon-plus"></span></a>
                </td>
            </form>
        </tr>
        <tr>
            <td colspan="6">
                <div class="row" id="extra_{{ forloop.counter }}" style="display: none;">
                    <div class="col-md-9">
                        Opis: {{ product.name }}
                        {% if request.user|has_group:"Dystrybutorzy_C" %}
                            <br>Cena hurtowa: {{ product.price_c }} zł NETTO
                        {% else %}
                            <br>Cena hurtowa: {{ product.price_b }} zł NETTO
                        {% endif %}
                    </div>
                    <div class="col-md-3" align="right">
                        <a href="{% url 'supply_info:alert_add_view' product_pk=product.id  %}"><i class="far fa-bell" style="color:#e13e2f; padding: 20 20; font-size: 1.3em;"></i></a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock %}
