{% extends 'supply_info/base.html' %}
{% load group_tags %}
{% block content %}

{% if submitbutton == 'Szukaj' and request.GET.q != '' %}
{% if results %}
<div class="machine_table">
    <table border="1" id="machines_list_table">
        <tr>
            <th width=30%>Kod produktu</th>
            <th width=10%>Dostępność</th>
            <th width=11%>Cena katalogowa (brutto)</th>
            <th width=24%>Kolejna dostawa</th>
            <th>Uwagi</th>
        </tr>
        {% for result in results %}
        <tbody id="machines_search_table_body">
        {% if result.active_product_list.all %}
        {% for item in result.active_product_list.all %}
        {% if item.is_active %}
        <tr>
            <form action="" method="post">
                {% if result.site_address %}
                    <td><a href="{{ result.site_address }}" style="color:black">{{ result.code }}</a></td>
                {% else %}
                    <td>{{ result.code }}</td>
                {% endif %}
                {% if result.product_availability.all %}
                    {% for item in result.product_availability.all %}
                        <td> {{ item.availability }}</td>
                    {% endfor %}
                {% else %}
                    <td> </td>
                {% endif %}
                {% for item in result.price_lists.all %}
                    <td>{{ item.price_d }} zł</td>
                {% endfor %}
                <td>{{ result.next_shipment|default_if_none:"" }}</td>
                <td>{{ result.additional_info|default_if_none:"" }}</td>
                <td width="1%"><a href="#" id="show_{{ forloop.parentloop.counter }}"><span class="glyphicon glyphicon-plus"></span></a></td>
            </form>
        </tr>
        <tr>
            <td colspan="5">
                <div id="extra_{{ forloop.parentloop.counter }}" style="display: none;">
                    <br>Opis: {{ result.name }}
                    <br>Cena hurtowa:  {% for item in result.price_lists.all %}
                            {% if request.user|has_group:"Dystrybutorzy_B" %}
                                {{ item.price_b }} zł NETTO
                            {% else %}
                                {{ item.price_c }} zł NETTO
                            {% endif %}
                            {% endfor %}
                    <br>
                </div>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endif %}
        </tbody>
        {% endfor %}
    </table>
</div>

{% else %}
No search results for this query
Nie znaleziono produktów odpowiadających zapytaniu.
{% endif %}
{% endif %}

{% endblock %}